*{ margin:0; padding:0; }
  .ui-input { padding: 6px 5px; width: 100px; height: 16px; line-height: 16px; border: 1px solid #d7d7d7; color: #555; vertical-align: middle; outline: none; }
  .ui-input-ph { color: #999;font-family:微软雅黑; }
  .ui-input:hover { border: 1px solid #ed7220;  }
  .ui-input:focus, .ui-input-focus { border: 1px solid #ed7220;  }
  .ui-input-dis{ background: #f0f0f0; color: #999; }
  .ui-input-dis:hover{border-color:#ddd;box-shadow:none;}
  .dizhi { width:100%; /*height:123px;*/ float:left; margin:10px 0;}
  .dizhi .dizhi_s { width:503px; /*height:123px;*/ border:1px solid #ddd; background:#fffbff; float:left;}
  .dizhi .dizhi_s .dizhi_s_1 { padding:10px 0px 0px; height:30px;}
  .dizhi .dizhi_s .dizhi_s_1 .dizhi_s_1_1 { width:203px; /*height:30px;*/ float:left;}
  .dizhi .dizhi_s .dizhi_s_1 .dizhi_s_1_1 b { width:80px; text-align:right; float:left; line-height:28px;}
  .dizhi .dizhi_s .dizhi_s_1 .dizhi_s_1_1 .ui-search { float:left; width:155px;}
  .dizhi .dizhi_s .dizhi_s_2 { padding:5px 10px 5px; height:30px;}
  .dizhi .dizhi_s .dizhi_s_2 .dizhi_s_2_1 { /*height:30px;*/ float:left;}
  .dizhi .dizhi_s .dizhi_s_2 .dizhi_s_2_1 b { width:70px; text-align:right; float:left; line-height:28px;}
  .dizhi .dizhi_s .dizhi_s_2 .dizhi_s_2_1 .ui-search { float:left; width:155px;}
  .dizhi .dizhi_s .dizhi_s_2 .dizhi_s_2_1 .dizhi_city { cursor:pointer; color:#999 ; text-align:left;}
  .dizhi_city{ cursor:pointer; color:#999 !important; text-align:left;}
  .dizhi .dizhi_s .dizhi_s_2 .dizhi_s_2_1 .dizhi_city:hover { border:1px solid #D7D7D7;}
  .dizhi_t {left:2px !important; margin:0 !important; width:286px; height:-234px; background:#fff; border:1px solid #ed7220;position:absolute;z-index:1000;display:none;font-size: 12px;line-height: 19px;color:rgb(102, 102, 102);}
  .dizhi_t .dizhi_t_1{ width:286px; height:22px; background:#ff8b3d; float:left;}
  .dizhi_t .dizhi_t_1 p { cursor:pointer;width:70px; height:22px; float:left; font-weight:bold; color:#FFF; text-align:center;}
  .dizhi_t .dizhi_t_1 .hover { cursor:pointer;background:#FFF;  color:#ff8b3d;width:68px;}
  .dizhi_t .dizhi_t_2 { width:286px; height:auto; float:left;}
  .dizhi_t .dizhi_t_2 .dizhi_t_2_1 { width:38px; height:30px; float:left; text-align:center;color:#ff8b3d; cursor:pointer; line-height:30px}
  .dizhi_t .dizhi_t_2 .dizhi_t_2_2 { width:248px; height:auto; float:left;}
  .dizhi_t .dizhi_t_2 .dizhi_t_2_2 p{white-space:nowrap; width:40px; height:30px;float:left; cursor:pointer;line-height:30px; text-align:center;margin-bottom: 0px;}
  .dizhi_t .dizhi_t_2 .dizhi_t_2_2 p:hover { color: #ff8b3d;background:#fbfbfb;}
